{% extends "base.html" %}

{% block title %}Matérias-primas{% endblock %}

{% block content %}
<h1>Matérias-primas</h1>
<a class="btn" href="{% url 'estoque:criar_materia_prima' %}">+ Nova Matéria-prima</a>
<a href="{% url 'estoque:lista_compras_materia' %}" class="btn btn-outline-primary mb-3">Ver Histórico de Compras</a>

<table border="1" cellpadding="8" cellspacing="0" style="margin-top: 20px; width: 100%; border-collapse: collapse;">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Tipo</th>
            <th>Material</th>
            <th>Cor</th>
            <th>Marca</th>
            <th>Quantidade</th>
            <th>Unidade</th>
            <th>Preço Unitário (R$)</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for m in materias %}
        <tr>
            <td>{{ m.nome }}</td>
            <td>{{ m.tipo }}</td>
            <td>{{ m.material }}</td>
            <td>{{ m.cor }}</td>

            <td>
                {% if m.marca %}
                    {{ m.marca.nome }}
                {% else %}
                    -
                {% endif %}
            </td>
            <td>{{ m.quantidade }}</td>
            <td>{{ m.unidade }}</td>
            <td>{{ m.preco_unitario|floatformat:2 }}</td>
            <td>
                <a href="{% url 'estoque:editar_materia_prima' m.id %}">Editar</a>
                <a href="{% url 'estoque:deletar_materia_prima' m.id %}" 
                   onclick="return confirm('Tem certeza que deseja excluir esta matéria-prima?');">
                   Excluir
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="9">Nenhuma matéria-prima cadastrada.</td></tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'core:home' %}" class="btn">← Voltar</a>
{% endblock %}


